
.arrival{
    min-height: 100vh;
}

.arrival .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    width: 85%;
    margin: 0 auto;
}

.arrival .box-container .box{
    flex: 1 1 30rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    margin: 1rem 2rem;
}

.arrival .box-container .box .image{
    height: 20rem;
    padding: 2rem;
    text-align: center;
    background: #f0f0f0;
}

.arrival .box-container .box .image img{
    height: 100%;
    object-fit: cover;
}