
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    transition: all .2s cubic-bezier(.37,1.14,.26,1.24);
}

*::selection{
    background: #ff3300;
    color: #fff;    
}

:root{
    --blue: #2980b9;
    font-size: 62.5%;
}

html{
    overflow-x: hidden;
}

.btn{
    height: 4rem;
    width: 14rem;
    background: var(--blue);
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    border: none;
    outline: none;
}

.btn:hover{
    letter-spacing: 0.2rem;
    opacity: 0.8;
}