
.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex: 1 1 25rem;
    margin: 2rem;
}

.footer .box-container .box .logo{
    font-size: 2.5rem;
    color: #333;
}

.footer .box-container .box i{
    color: var(--blue);
    margin-right: 0.5rem;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    padding: 1rem 0;
    color: #666;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: var(--blue);
}

.footer .box-container .box:nth-child(2){
    text-align: center;
}

.footer .box-container .box:nth-child(2) a{
    display: block;
    font-size: 2rem;
    padding: 0.4rem 0;
    color: #666;
}

.footer .box-container .box:nth-child(2) a:hover{
    text-decoration: underline;
}