
.gallery{
    min-height: 100vh;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 0;
}

.gallery .controls .btn{
    margin: 2rem;
    line-height: 4rem;
    text-align: center;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.gallery .controls .btn.button-active{
    background: #333;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    flex: 1 1 30rem;
}

.gallery .image-container .box .image{
    height: 12rem;
    width: 20rem;
    text-align: center;
    padding: 1rem;
    background: #f0f0f0;
}

.gallery .image-container .box .image img{
    height: 100%;
    object-fit: cover;
}