
.gallery{
    min-height: 100vh;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem 0;
}

.gallery .controls .btn{
    margin: 2rem;
    line-height: 4rem;
    text-align: center;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}
