
header .header-1, header .header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    width: 100%;
    z-index: 1000;
}

header .header-1 .logo{
    font-size: 2rem;
    color: #666;
}

header .header-1 .logo i{
    color: var(--blue);
}

header .header-1 .form-container form{
    display: flex;
}

header .header-1 .form-container form #search{
    height: 4rem;
    width: 50rem;
    outline: none;
    border: .2rem solid #666;
    font-size: 1.5rem;
    padding: 0 1rem;
}

header .header-1 .form-container form #search:focus{
    border-color: var(--blue);
}

header .header-1 .form-container form label{
    height: 4rem;
    width: 5rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    cursor: pointer;
    background: var(--blue);
    color: #fff;
}

header .header-1 .form-container form label:hover{
    color: yellow;
}

header .header-2{
    background: var(--blue);
}

header .header-2 .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-2 .navbar ul li{
    margin: 0 1rem;
}

header .header-2 .navbar ul li a{
    font-size: 2rem;
    color: #fff;
}

header .header-2 .navbar ul li a:hover,
header .header-2 .navbar ul li a.active{
    color: yellow;
}

header .header-2 .icons a{
    color: #fff;
    padding: 0 1rem;
    font-size: 2rem;
}

header .header-2 .icons a:hover{
    color: yellow;
}

header .header-2 #menu{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}