
@media (max-width:768px){

    html{
        font-size: 55%;

    }

    header .header-1 .form-container form #search{
        width: 100%;
    }

    header .header-2 #menu{
        display: block;
    }

    header .header-2 .navbar{
        position: fixed;
        top: -200rem; left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 100vh rgba(0, 0, 0, 0.3);
        z-index: 10000;
        opacity: 0;
    }

    header .header-2 .navbar ul{
        flex-flow: column;
        background: linear-gradient(var(--blue), blueviolet);
        border: .2rem solid #fff;
        box-shadow: 0 .3rem .5rem #000;
        padding: 4rem 0;
        width: 27rem;
    }

    header .header-2 .navbar ul li{
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }

    header .header-2 .navbar ul li a{
        font-size: 2.5rem;
        display: block;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .header-2 .nav-toggle{
        top: 50%;
        opacity: 1;
    }
}

@media (max-width:600px){
    .home .home-slider .item .content h3{
        font-size: 3rem;
    }

    .home .home-slider .item .content p{
        font-size: 2rem;
        width: auto;
    }
}

@media (max-width:400px){
    header .header-1{
        flex-flow: column;
        padding: 1rem;
    }

    header .header-1 .logo{
        padding-bottom: 1.5rem;
    }
}